body {
  font-family: "Open Sans", "Tahoma", sans-serif;
}
:root {
  --header-color: rgba(255, 255, 255, 1);
  --main-title-color: rgba(255, 255, 255, 1);
  --second-title-color: rgba(48, 48, 48, 1);
  --main-btn-color: rgba(255, 255, 255, 1);
  --second-btn-color: rgba(48, 48, 48, 1);
  --accent-color: rgba(255, 108, 0, 1);
  --top-text: rgba(48, 48, 48, 1);
  --bottom-text: rgba(85, 85, 85, 1);
  --typical-margin-bottom: 20px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: rgba(157, 164, 189, 0.6);
}
.top-text::before {
  content: '';
  width: 63px;
  height: 1px;
  background-color: currentColor;
  margin-right: 21px;
 
}
.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.title {
  font-family: "Raleway", "Tahoma";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  transition: color 300ms linear, background-color 300ms linear ;
}
.btn:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*------HEADER-------*/
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  margin-right: 70px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
  transition: color 300ms linear;
}
.header-link:hover,
.header-link:focus {
  color: #ff6c80;
}
.header-connect {
  margin-left: auto;
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}
.header-btn {
  color: var(--main-title-color);
  margin-left: 40px;
}

/*----------HERO------------*/
.hero .container {
  display: flex;
}
.hero-soc {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-19px);
}
.hero-item + .hero-item {
  margin-left: 40px;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color:rgba(48, 48, 48, 1);
  transition: color 300ms linear
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-link-inst {
  display: flex;
  align-items: center;
}
.hero-link-inst::before {
  content: '';
  width: 63px;
  height: 1px;
  background-color: currentColor;
  margin-right: 40px;
}
.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-block-end: var(--typical-margin-bottom);
}
.hero-title {
font-family: 'Raleway';
font-weight: 700;
font-size: 72px;
line-height: 1.13;
letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--typical-margin-bottom);
}
.hero-botom-text {
  color: #9da4bd;
  min-width: 400px;
}
.hero-content {
  background-color: var(--second-title-color);
  padding: 272px 0 206px 96px;
  flex-grow: 1;
  background-image: linear-gradient(
    rgba(25, 28, 38, 0.5),
    rgba(25, 28, 38, 0.5)
    ), 
    url(../images/hero-img.jpg);
    background-size: cover;
}
/*----------ABOUT------------*/
.about {
  padding-top: 139px;
  padding-bottom: 121px;
}
.about .container {
  display: flex;
}
.about-list {
  display: flex;
  margin-right: 64px;
  flex-shrink: 0;
}
.about-item + .about-item {
  margin-left: 30px;
}
.about-top-text {
  color: var(--top-text);
  margin-bottom: var(--typical-margin-bottom);
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin-bottom);
}

.about-bottom-text {
  color: var(--bottom-text);
  margin-bottom: var(--typical-margin-bottom);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--bottom-text);
  margin-bottom: 40px;
}

.about-btn {
  color: var(--second-btn-color);
}
/*----------PRICES------------*/
.prices {
  max-width: 1280px;
  background-image: url(../images/prices.png);
  background-color: rgba(17, 19, 25, 1);
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;

}
.prices-top-text {
  color: rgba(157, 164, 189, 06);
  margin-bottom: var(--typical-margin-bottom);
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}
.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}
.prices-list {
  padding: 30px 40px;
  flex-grow: 1;
}
.prices-light {
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-dark {
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--typical-margin-bottom);
  align-items: baseline;
}
.prices-item::after {
  content:"";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}
.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: rgba(157, 164, 189, 1);
}
.prices-item-text:last-child {
  order: 1;
}

.prices-btn {
  display: block;
  color: var(--main-btn-color);
  margin: 0 auto;
}
/*----------REASONS------------*/
.reasons {
  padding-top: 114px;
  padding-bottom: 157px;
}
.reasons .container {
  display: flex;
  padding-top: 143px;
  padding-bottom: 137px;
  margin: 0 auto;
}
.reasons-count {
  width: calc(50% + 15px);
}
.reasons-item {
  width: 170px;
  height: 130px;
  border: 1px solid #000;
}

.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
  margin-bottom: 6px;
}

.reasons-item-text {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}

.reasons-top-text {
  color: var(--top-text);
  margin-bottom: var(--typical-margin-bottom);
}

.reasons-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin-bottom);
}

.reasons-bottom-text {
  color: var(--bottom-text);
}
/*----------MASTERS------------*/
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-top-text {
  color: var(--top-text);
  margin-bottom: var(--typical-margin-bottom);
}

.masters-title {
  color: --second-title-color;
  margin-bottom: 44px;
}
.masters-list {
  display: flex;
  margin-left: -30px;
}
.masters-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  transition: box-shadow 300ms linear;
}
.masters-top-wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.masters-inside-text {
  position: absolute;
  top: 0;
  background-color: rgba(255, 108, 0, 0.5);
  color: aliceblue;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.8;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
.masters-item:hover,
.masters-item:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
  0px 1px 2px 0px rgba(0, 0, 0, 0.08), 
  0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.masters-item:hover .masters-inside-text,
.masters-item:focus .masters-inside-text {
  transform: translateY(0);
}

.masters-item-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  margin-bottom: var(--typical-margin-bottom);
}
.masters-soc-list {
  display: flex;
  justify-content: center;
}
.masters-soc-item + .masters-soc-item {
  margin-left: 10px;
}
.masters-soc-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: color 300ms linear, background-color 300ms linear;
}
.masters-soc-link:hover,
.masters-soc-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.masters-soc-icon {
  fill: currentColor;
}
/*------GALLERY-------*/
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.galery-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.gallery-top-text {
  color: var(--top-text);
  margin-bottom: 44px;
}

/*------FORM-------*/
.contacts-wrap .container {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
}
.online {
  flex-grow: 1;
}
.contacts-wrap {
  width: 1280px;
  margin: 0 auto;
  background-color: rgba(25, 28, 38, 1);
  background-image: url(../images/feedback.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: calc(50% - 15px);
}

.online-title {
  font-family: "Raleway", "Tahoma";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 44px;

  color: var(--main-title-color);
}

/*------CONTACTS-------*/
.contacts {
  width: calc(50% - 15px);
}
.contacts-title {
  font-family: "Raleway", "Tahoma";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
  margin-bottom: 40px;
  margin-left: 99px;
}
.contacts-item:not(:last-child) {
  margin-bottom: var(--typical-margin-bottom);
}
.contacts-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  color: rgba(157, 164, 189, 1);
  margin-left: 103px;
}
.contacts-link-map {
  align-items: flex-start;
  
}
.contacts-icon-map {
  margin-right: 16px;
  fill: rgba(157, 164, 189, 1);
}
.contacts-icon-phone {
  fill: rgba(157, 164, 189, 1);
  margin-right: 16px;
}
.contacts-icon-mail {
  fill: rgba(157, 164, 189, 1);
  margin-right: 16px;
}
.contacts-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-top: 70px;
  margin-bottom: var(--typical-margin-bottom);
  display: flex;
  align-items: center;
}
.contacts-text::before {
  content: '';
  width: 60px;
  height: 1px;

  background: rgba(157, 164, 189, 0.4);
  margin-right: 20px;
  margin-left: 100px;
}
.contacts-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: rgba(157, 164, 189, 1);
  margin-left: 99px;
}
/*------FOOTER-------*/
.footer {
  max-width: 1280px;
  padding-top: 55px;
  padding-bottom: 57px;
  margin: 0 auto;
}
.footer .container {
  display: flex;
  max-width: 1280px;

}
.footer-text {
  margin-left: 55px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}
.footer-list {
  display: flex;
  margin-left: auto;
  margin-right: 55px;
}
.footer-item + .footer-item {
  margin-left: 40px;
}
.footer-link {
  font-weight: 600;
  display: flex;
  font-size: 11px;
  line-height: 1.36x;
  letter-spacing: 0.2em;
  display: block;
  color: #303030;
  transition: color 300ms linear;
}
.footer-link:hover,
.footer-link:focus {
 color: var(--accent-color);
}
.footer-instagram {
  display: flex;
  align-items: center;
}
.footer-instagram::before {
  content: '';
  width: 60px;
  height: 1px;

  background-color: rgba(48, 48, 48, 1);
  margin-right: 40px;
  transition: color 300ms linear;
}
.footer-instagram::before:hover,
.footer-instagram::before:focus {
  color: var(--accent-color);
}
 
/*------MODAL-------*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility  300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close:hover {
 color: var(--accent-color--);
}
/* .modal-icon-close {
  fill: currentColor;
} */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(0.8) rotate(-290deg) translate(-50%, -50%);
}

/*------MODAL-FORM-------*/
.modal-form {
  padding: 40px;
}
.modal-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}
.modal-label {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
  margin-bottom: 12px;
}
.modal-input-wrap{
  position: relative;
  display: block;
  margin-bottom: 10px;
  
}
.modal-input {
  
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  padding-left: 10px;
}

.modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);

}
.modal-input::placeholder {
  font-family: 'Roboto';
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
  padding-left: 35px;
}
.modal-text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-btn {
  display: block;
  margin: 0 auto;
}
