:root {
  --header-color: rgba(255, 255, 255, 1);
  --main-title-color: rgba(255, 255, 255, 1);
  --second-title-color: rgba(48, 48, 48, 1);
  --main-btn-color: rgba(255, 255, 255, 1);
  --second-btn-color: rgba(48, 48, 48, 1);
  --accent-color: rgba(255, 108, 0, 1);
  --top-text: rgba(48, 48, 48, 1);
  --bottom-text: rgba(85, 85, 85, 1);
  --typical-margin-bottom: 20px;
}